body {
  background-color: #0b0c10;
  color: #c5c6c7;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px rgba(255, 255, 0, 0.2);
}

.btn-warning {
  border-radius: 8px;
}
