.order-container {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
}

.order-container h1 {
  color: rgb(250, 250, 250);
}

.order-container button {
  padding: 10px 20px;
  background: #a8cff9;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
