
html, body {
  width: 100%;
  overflow-x: hidden;
  padding-top:30px;
}


section, header, main, footer {
  max-width: 100%;
  overflow-x: hidden;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
